In [22]:
import pandas as pd
from tqdm import tqdm
import re

In [23]:
# parquet_info = dict(
#     filename='nzz_2017_2021_full.parquet',
#     txt_folder='nzz_2017_2021_filtered',
#     source='nzz')

# parquet_info = dict(
#     filename='le_temps_2017_2021_full.parquet',
#     txt_folder='le_temps_2017_2021_filtered',
#     source='letemps')

parquet_info = dict(
    filename='tagesanzeiger_2017_2021_full.parquet',
    txt_folder='tagesanzeiger_2017_2021_filtered',
    source='tagz')

In [24]:
raw_df = pd.read_parquet(parquet_info['filename'])

In [25]:
raw_df = raw_df.reset_index(drop=True)
print(raw_df.count()[0])
raw_df.sample(1)

109230

,id,article_title,article_subheading,article_author,article_content,date,pdf_url,pdf_file_path,pdf_page,article_html
69164,0b1192330da178c5d32d53b957cd1d7f,Mama rät Boris zur Malerei,Debatte,Peter Nonnenmacher,Charlotte Johnson-Wahl Die Mutter des britisch...,14.10.2019,,,,"<div class=""ld""><p class=""p"">Charlotte Johnson..."

In [26]:
raw_df = raw_df.drop_duplicates(subset='article_content')

print(raw_df.count()[0])
raw_df.sample(1)

109217

,id,article_title,article_subheading,article_author,article_content,date,pdf_url,pdf_file_path,pdf_page,article_html
14885,daa9441ed5c8db86211202a268b6cb86,Verzweifelte Appelle an den Präsidenten,International,Cathrin Kahlweit,Die Massenproteste in Ungarn haben nichts genü...,11.04.2017,,,,"<div class=""ld""><p class=""p"">Die Massenprotest..."

In [27]:
df = raw_df[ 
    (raw_df['article_content'].str.findall(r'(klimawandel|klimaschutz|globale erwärmung|changement climatique|protection climatique|réchauffement climatique|climate change|climate protection|global warming|co2)', flags=re.IGNORECASE).apply(lambda arr: len(arr) >= 3))
    & (raw_df['article_content'].str.count(' ') >= 500)
]

print(df.count()[0])
df.sample(1)

899

,id,article_title,article_subheading,article_author,article_content,date,pdf_url,pdf_file_path,pdf_page,article_html
68105,1dd37a29dc6c28a34a08620ddcbbdc27,"Rentenalter, Klima, Gesundheit, EU: So ticken ...",Zürich,"zet / Zemp Thomas,rar / Roth Rafaela,sip / Sie...",Wahlen Drei Frauen und zwei Männer fordern die...,27.09.2019,,,,"<div class=""ld""><p class=""p"">Wahlen Drei Fraue..."

In [28]:
df['date'] = pd.to_datetime(df['date'])

# df = df[df['date'] > '01.01.2020']

print(df.count()[0])
df.sample(1)

899

<ipython-input-28-c6e7afb4cc83>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])

,id,article_title,article_subheading,article_author,article_content,date,pdf_url,pdf_file_path,pdf_page,article_html
84531,f52807e7efb06122033b9aea4e3102a1,Klimapositiv – was bedeutet das?,Wissen,"Martin Läubli,ml / Lerf Matthias",CO2 aus der Luft speichern Die Schweiz soll bi...,2020-07-23,,,,"<div class=""ld""><p class=""p"">CO2 aus der Luft ..."

In [29]:
for index, row in tqdm(df.iterrows()):
    text = f"{row.article_title} \n{row.article_subheading} \n{row.article_author} \n{row.article_content}"
    filename = f"./{parquet_info['txt_folder']}/{row.date.strftime('%d.%m.%Y')} - {f'unknown{index}' if (row.article_author == '') else row.article_author.replace('/', '_')} - {parquet_info['source']} - NEWSPAPERARTICLE.txt"
    with open(filename, 'w') as f:
        f.write(text)

899it [00:03, 257.58it/s]

In [30]:
df.sample(1)

,id,article_title,article_subheading,article_author,article_content,date,pdf_url,pdf_file_path,pdf_page,article_html
83714,fe2521a3d22db8f849fa624c0204ea70,Noch schlimmer als letztes Jahr,Wissen,Martin Läubli,Feuer in der Arktis Die neusten Daten zeigen e...,2020-08-07,,,,"<div class=""ld""><p class=""p"">Feuer in der Arkt..."

---
---
---